.container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  color: aliceblue;
  background: linear-gradient(
    0.25turn,
    #7db9e8 0%,
    #207cca 30%,
    #2989d8 60%,
    #1e5799 100%
  );
  filter: alpha(opacity=80);
}
#enterCity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.location {
  position: relative;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.location:focus {
  outline: none;
  box-shadow: 2px 2px 8px #aaaaaa;
}

#btnCurrentLocation {
  opacity: 0.8;
}
#main-icon {
  position: relative;
  margin: 20px;
}

#icon {
  width: 200px;
}

.city::first-letter {
  text-transform: capitalize;
}

#city-info {
  height: 200px;
}
#city-date {
  margin: 55px;
  text-align: left;
  position: relative;
  vertical-align: middle;
}

#temp-info {
  margin-top: 8px;
}

#celsius-change:hover {
  text-decoration: none;
}

#fahrenheit-change:hover {
  text-decoration: none;
}
#forecast {
  display: flexbox;
  margin-top: 10px;
  height: 200px;
}
.card {
  height: 150px;
  margin-top: 25px;
  background: linear-gradient(to bottom, #7db9e8 0%, #2989d8);
  filter: alpha(opacity=60);
}

/* Media query */
/* big landscape tablets, laptops, and desktops */
/* @media (min-width: 1200px) { */
/* } */
/* tablet, landscape, low resolution laptop and desktop */
/* @media (max-width: 990px) { */
/* } */

/* portrait tablet, e-readers kindle */
/* @media (max-width: 800px) { */
/* } */
/* smartphones, android phones, landscape iphone */
/* @media (max-width: 570px) {
  #city-info {
    display: inline-flexbox;
    width: 100%;
    height: 200%;
  }
  #main-icon {
    margin: 10px auto;
    padding: 0;
  }
  #city-date {
    margin: 30px 5px;
    text-align: center;
    position: relative;
    padding: 0;
  }
  .city {
    margin: 15px;
  } */
/* #forecast {
    display: flexbox;
    height: 300px;
    width: 100%;
  } */
/* } */
/* smartphones, portrait iphone, portrait 480*320 phones(Android) */
