.container {
  display: block;
  margin-left: 200px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.location {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 25px;
}
.location:focus {
  outline: none;
}

#main-icon {
  font-size: 9rem;
  position: relative;
  margin: 0px auto;
}

.city::first-letter {
  text-transform: capitalize;
}

#city-info {
  margin: 5px 0;
}
#city-date {
  margin: 55px;
  text-align: left;
  position: relative;
  vertical-align: middle;
}

#temp-info {
  margin-top: 8px;
}

#celsius-change:hover {
  text-decoration: none;
}

#fahrenheit-change:hover {
  text-decoration: none;
}

/* Media query */
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1200px) {
}
/* tablet, landscape, low resolution laptop and desktop */
@media (max-width: 990px) {
}

/* portrait tablet, e-readers kindle */
@media (max-width: 800px) {
}
/* smartphones, android phones, landscape iphone */

/* smartphones, portrait iphone, portrait 480*320 phones(Android) */
